/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
  margin:0;
  padding:0;

}
body {
  font-family: 'lato', sans-serif;
  background-color: black;
  color: white;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
h1,h2, h3 {
  text-transform: uppercase;
}
h3 {
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 700;
}
/*utilities*/
.read-btn{
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.container {
  width: 94%;
  margin: 10px auto;
}
.gray-text{
  color: gray;
}
.black-text{
  color: black;
}
/*menu*/
nav.menu {
  background-color: white;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.menu .frame-logo{
  height: 32px;
  padding-left: 15px;
}
nav.menu a{
  color: black;
  margin-right: 15px;
}
.complete-logo, .link-newsletter,.link-menu,.link-search {
  display: none;/*hidding elements*/
}
.link-login{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
}
nav.menu a.link-subscribe{
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 700;
  background-color: black;
  color: white;
  padding: 12px;
  transition: ease-out 0.4s;
}
nav.menu a.link-subscribe:hover{
  box-shadow: inset 170px 0 0 0 #ffcc00;
  color: black;
}
nav.menu .link-arrows{
  color: black;
}
@media(min-width:768px){
  .complete-logo{
    display: block;
    height: 32px;
    padding-left: 30px;
  }
  .frame-logo{
    display: none;
  }
  .link-news{
    display: inline-block;
    font-size: 14px;
    border-bottom: 2px solid #ffcc00;
  }
  .link-menu{
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
  }
  .link-search{
    display: inline-block;
  }
}
/*headers*/
header {
  height: 240px;
}
header h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 41px;
  font-weight: 700;
  letter-spacing: 3px;
  padding-top: 50px;
  padding-bottom: 23px;
  text-align: center;
}
header p {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
}
header .line {
  color: #ffcc00;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom:5px #ffcc00;
  
}
header a.subscribe{
  padding-left: 1px;
  padding-right: 1px;
  background: black;
  background-size: auto;
  border-bottom:4px solid #ffcc00;
  color: white;
  transition: 0.3s;
  box-shadow: inset 0 0 0 0 #ffcc00;
}

header a.subscribe:hover{
  background-color: #ffcc00;
  
  color: black;
  cursor: pointer;
  box-shadow: inset 0 -100px 0 0 #ffcc00;
}
header a{
  text-decoration: none;
  
}
@media(min-width:768px){
  header h1{
    font-size: 62px;
  }
}
/*main news*/
@media(min-width:768px){
  main{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 175px;
  }
}
.main-news{
  position: relative;
  height: 400px;
  margin-bottom: 20px;
}
.main-news-img img{
  height: 400px;
}
.main-news-text{
  position: absolute;
  top: 200px;
  left: 30px;
}
.main-news-img{
  overflow: hidden;
}
.main-news-img img:hover{
  transform:  scale(1.1);
  cursor: pointer;
}
.main-news-text p.title{
  font-size: 30px;
  margin: 20px 0;
  letter-spacing: 3px;
  font-weight: 700;
}
@media(min-width:768px){
  .news-container{
    display: flex;
    flex-direction: column;
  }
  .main-news{
    height: 400px;
    width: 620px;
    margin-bottom: 50px;
  }
}
/*secondary-news*/
.secondary-news {
  height: 400px;
  margin-bottom: 10px;
  width: 300px;
}
.secondary-news-img{
  height: 280px;
  overflow: hidden;
}
.secondary-news-img img {
  height: 100%;
  width: 100%;
}
.secondary-news-text{
  height: 130px;
  background-color: white;
  padding: 20px;
  
}
.secondary-news-text p {
  font-size: 19px;
  margin: 10px 0 20px 0;
  font-weight: 700;
  padding-top: 15px;
}
.secondary-news-img img:hover{
  transform:  scale(1.1);
  cursor: pointer;
}
@media(min-width:768px){
  .secondary-news-container{
    display: flex;
  }
  .secondary-news{
    height: 400px;
    margin-bottom: 10px;
    width: 300px;
  }
  .secondary-news-img{
    height: 230px;
  }
}
/*todays picks*/
h2 {
  font-size: 30px;
  letter-spacing: 5px;
  border-left: 5px solid #ffcc00;
  padding-left: 20px;
  margin: 30px 0;
}
.pick-item{
  display: flex;
  justify-content: space-between;
}
.pick-item img{
  width: 80px;
  height: 80px;
  padding-top: 25px;
}
.pick-item-text{
  flex-basis: 81%;
  padding-top: 25px;
}
.pick-item-text p{
  font-weight: 700;
  margin-top: 10px;
}
.pick-item-text h3{
  font-weight: 700;
}
.pick-item-text p:hover{
  cursor: pointer;
  text-decoration: underline;
}
.pick-item-text h3{
  cursor: pointer;
}
.pick-item:hover{
  cursor: pointer;
}
.see-more{
  text-align: center;
  padding-top: 35px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
}
.see-more a:visited{
  color: white;
}
.see-more:hover{
  
}